.containerAgenda {
    display: flex;
    flex-direction: column;
}

.divList {
    display: flex;
    flex-direction: column;
   /* overflow-x: scroll;**/
}   

.divCabecalho {
    display: flex;
    flex: 1px;
    flex-direction: "row";
    margin: 10px;
    justify-content: space-around;
    width: 60%;
    padding-left: 10px;
    border-bottom: 2px solid black
}

.divLinhas {
    display: flex;
    flex: 1px;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    border-radius: 10px;
    padding-left: 10px;
    border-bottom: 1px solid black
}

