.containerAgendamento {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.divForm {
    display: flex;
}

.divButton {
    display: flex;
    justify-content: space-around;
    width: 350px;
    margin:0px 0px 0px -10px;
}

input {
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #FF1493;
    padding: 5px;
    font-size: 16px;
    width: 300px;
    color: #FF1493;
}

input::placeholder {
    color: black;
}

.modal {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}