.container {
    display: flex;
    background-color: black;
}

.sideBar {
    margin: 10px;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
    background-color: #FF1493;
    height: 900px
}

.divImage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row
}

.image {
    width: 20px;
    height: 20px
}

.menuItem {
    font-size: 24px;
    font-weight: bold;    
}

