@media (max-width:1024px) {
    .container-min {
        display: flex;
    }

    .sideBar-min {
        margin: 10px;
        flex-direction: column;
        border-radius: 0px 10px 10px 0px;
        background-color: #8a2be2;
        height: 80%
    }

    .image-min {
        width: 40px;
        height: 40px;
        margin-inline-end: 15px;
        margin-inline-start: 10px;
    }

    .menuItem-min {
        font-size: 14px;
        font-weight: bold;
    }

    /**agendas**/
    .containerAgenda-min {
        width: 100%;
    }

    .divList-min {
        display: flex;
        flex: 1px;
        align-items: center;
        width: 100%;
    }

    .divCabecalho-min {
        display: flex;
        margin: 20px;
        align-items: center;
        width: 100%;
    }

    .divLinhas-min {
        margin:5px;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding-left:10px;

    }
    .divLinhasConteudo-min{
        display: flex;    
        width: 100%;
    }

    button {
        font-size: 24px;
    }

    h2 {
        font-size: 24px;
    }

    /**agendamento**/

.containerAgendamento-min{
    display: flex;  
    align-items: center; 
    width: 100%;
}  

.containerAgendamento-min h1 hr form input{   
    font-size: 24px;
    text-align: center;
    width: 100%;
}
.input-min{
    display: flex;
    width: 100%;
}
.divForm-min{
    display: flex;   
    flex-direction: column; 
    align-items: center; 
    width: 100%;
}
.divButton-min{
    display: flex;   
    align-items: center; 
    width: 100%;
}

}